<%= render 'shared/logo' %>

<div class="row container center-block">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "去注册", register_path, class: "btn btn-default btn-block login-btn" %>
    <%= link_to "去登录", login_path, class: "btn btn-default btn-block login-btn-bottom" %>
  </div>
</div>
